src/**
test/**
out/src/**
out/test/**
node_modules/**
.npm-cache/**
.npmrc
.gitignore
tsconfig.json
esbuild.js
install-vscode-extension.ps1
**/*.map
test-electron/**
out/test-electron/**
.vscode-test/**
.github/**
